* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg:#5972FD;
  --primary: #3664FD;
  --secondary: #1B42EB;
}

body {
  height: 100vh;
  width: 100vw;
  /* overflow: hidden ; */
}

.App {
  height: 100vh;
  /* overflow: hidden  */
}

.account {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  height: 100%;
  
}

/* Home Page */

.Home {
  background: var(--bg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Home h1 {
  font-size: 48px;
  color: #fff;
}

.Home button {
  background: #fff;
  color: var(--secondary);
}

.Home button:hover {
  border: solid #fff;
  color: #fff;
}

/* Profile section */

.profile{
  background: var(--primary);
  height: 100vh;
  box-shadow: 2px 14px 20px;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  color: #fff;
}

#profile-pic {
  width: 10rem;
  height: 10rem;
  border: #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#profile-pic img{
  width: 100%; 
}

.profile button {
  background: #fff;
  color: var(--secondary);
}

.profile button:hover {
  border: solid #fff;
  color: #fff;
}

#user-details {
  display: flex;
  flex-direction: column;
}


.output{
  /* background-color: red; */
  width: 95%;
  grid-column: 4/-1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card {
  box-shadow: 1px 1px 10px #25252518;
  overflow: hidden;
}

.cards {
  overflow-y: scroll;
  overflow-x: hidden;
}

.repo-details {
  grid-column: 4/-1;
}

.stat-boxes {
  padding: 1rem ;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.stat-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.195);
  padding: 5px 10px;
}

/* REPO DETAILS  */

.repo-details {
  height: 100vh;
  overflow: scroll;
}

.repo-details-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.repo-card-files {
  grid-column: 1/8;
  width: 100%;
  
}

.repo-card-about{
  grid-column:8/-1 ;
  width: 100%;
}


/* Error Page */
.error {
  background: var(--secondary);
  height: 100vh;
  display: flex;
  gap: 5rem;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-btns {
  display: flex;
  gap: 3rem;
}

.error button {
  background: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}

/* Pagination */

.pagination {
  display: flex; 
  justify-content: center;
  gap: 1rem;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: var(--primary);
  margin-bottom: 1rem;
}

.pagination button:hover {
  background: var(--secondary);
  color: #fff;
}

.pagination .active {
  background: var(--secondary);
  color: #fff;
}

button:disabled {
  background: grey;
  color: #fff;
}


/* =========== RESPONSIVENESS ============= */

@media screen and (max-width:768px) {
  .account {
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll !important;
  }

  .profile {
    height: fit-content;
    /* overflow: scroll; */
  }

  .output, .repo-details {
    /* overflow: scroll; */
    height: 100vh;
    grid-column: 1/-1;
    grid-template-columns: repeat(1, 1fr);
  }

  .output {
    overflow: scroll !important;
  }

  header, .cards {
    grid-column: 1/-1;
  }

  .cards {
    overflow: visible;
    height: fit-content;
  }

  .cards .row {
    overflow: visible;
  }

  .stat-boxes {
    flex-wrap: wrap;
  }

  .repo-details-grid {
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
    margin-bottom: 1rem;
  }

  .repo-card-about, .repo-card-files {
    grid-column: 1/-1;
  }
}